.content-wrapper{

	 h2 {
	  padding-top: 10%;
	  }
	 article {
	  margin-bottom: 2%;
	 }
  	 .post-meta{
	   padding-bottom:0;
	 }
}
.content-copy{
	  margin-top: 5%;
}
.content-copy p,  .post-meta p {
  padding: 0 6%;
}
.main-content{
	z-index: 998;
}

.singlePage-post-image {
	@include respond-to(x-large-screens) { 
	  width: 50%;
	  background-position: right 5% top 38%;
	  max-height: none;
	  height: 100%;
	  position: fixed;
	 }
}