footer{
 	@include respond-to(small-screens) {  
 		margin-top: 47px;}
			div{
				text-align:center;
			}
			li{
				display: inline-block;
				text-align: center;
				background: none;
				padding: 0 1%;
				font-size: 2em;
					a{
						text-decoration: none;
						color: #020d28;
						font-size: 1.2em;
					}
			  }	
			 p{
				font-size: 1.1em;
				text-transform: uppercase;
				line-height: 1.4em;
				font-weight: 400;
				letter-spacing: .05em;
				color: #020d28;
				text-align: center;
				margin-top: 5%;
				margin-bottom: 0;
			 }	
	@include respond-to(x-large-screens) { 
		width:50%;
		margin-left:50%;
	}		 	
}
footer ul{
		@include respond-to(small-screens) {  
	 		margin-top: 14% !important;
	        margin-left: 0 !important;
	        margin-bottom: 0!important;
 		}
	
}
footer .sections-wrapper{
	  @include respond-to(x-large-screens) { 
		  width: 50%;
		  margin-left: 50%;
		  padding:0;
	  }
}
.scalers:hover{
	@include scale(3);
}

/*make these intoformstylens...not so specific*/
.contact input[type="submit"]{
background: #020d28;
padding: 4%;
	&:hover{
color: #0a2933;
background-color: #ffffff;
border: 1px solid #0a2933;
	}
}

.contact input[type="textarea"] {
	height: 110px;
}

.contact input,textarea {
width: 95%;
font-family: inherit;
font-size: inherit;
line-height: inherit;
font-size: 1.5em;
color: #ffffff;
cursor: pointer;
padding: 5% 5px;
display: inline-block;
margin: 2% 0;
text-transform: uppercase;
letter-spacing: 0;
font-weight: 800;
outline: none;
-webkit-transition: all 0.3s;
-moz-transition: all 0.3s;
transition: all 0.3s;
border: 1px solid #0A2933;
line-height: 2;
	&:focus::-webkit-input-placeholder{
	color:#0a2933;
	}
	&:focus::-moz-placeholder {
	color:#0a2933;
	}
	&:focus:-ms-input-placeholder{
		color:#0a2933;
	}
	@include respond-to(medium-screens) { 
		padding: 1% 0px;
	}
}
.contact button, input[type="submit"], .intro-btn button, input[type="submit"] {
	border: none;
	font-size: 1.45em;
	color: inherit;
	cursor: pointer;
	padding: 8px 12px;
	display: inline-block;
	margin: 15px 2px;
	text-transform: uppercase;
	letter-spacing: 0;
	text-align:center;
	font-weight: 900;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	border: 2px solid #fff;
	background: transparent;
	color: #fff;
	font-family: 'Lato', sans-serif;
		&:hover{
			color:$color-secondary;
			background-color:#ffffff;
			}
}	

