/**home-page**/
.hero-holder{
	height: 240px;
	margin-top: 0px;
}
.hero{
	position: relative;
	background-color: #000;
	padding: 0;
	z-index: 6;
	background-image: url("http://web.kateeldridge.co/kivvi/images/home.jpg");
	height: 100%;
	width: 100%;
	background-size: cover;
	background-position: center center;
	-webkit-transform: translateY(0px);
	transform: translateY(0px);
}

.logo-image{
	width: 100%;
	max-width: 38px;
	margin-top: 1%;
	margin-bottom: 0%;
}

.yrule {
	background: #FEE78C;
	width: 30px;
	height: 4px;
	margin:5% 0 5%;
}
.influencers.post-wrapper{
		
		@include respond-to(medium-screens) { 
			padding: 4% 4%;
		}
}