*-------------USER INFO BAR------------*/
.user-infobar{
	position: fixed;
	left: 0px;
	bottom: 0px;
	height: 28px;
	width: 100%;
	z-index: 1999;
	padding: 10px 0;
	background: rgba(211, 215, 216, 0.89);
	text-align: center;
		@include respond-to(x-large-screens) { 
			width: 7%;
			margin-left: 40.1%;
			top: 107px;
			height: 104px;
			padding: 1% 1.5% 1.5%;
		}
}
.tabs-bar {
	height: 37px;
	z-index: 1001;		
}
.tabs-bar ul {
	overflow:hidden;
	text-align:center;
	padding-top: 14px;
		li {
			margin: 0;
			float: left;
			width: 20%;
			height: 20%;
			padding-bottom: 5%;
				 @include respond-to(x-large-screens) {
					  padding: 6px 0 10% 0;
					  float: none;
					  width: 80px;
				 }
			 }
		@include respond-to(x-large-screens) { 
			padding-top:0;
		}	
  
}	
.tabs-bar a{
	color: #0A2933;
	font-weight: 700;
	line-height: 2px;
	font-size: 1em;
	padding: 0;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.25px;
	text-decoration: none;
	font-family: 'Lato', sans-serif;
		&:hover{
			font-weight: 300;
		}
		@include respond-to(x-large-screens) { 
			font-size: 1.5em;
		}	
}
.tabs-bar ul a span {
	margin: 0px 13%;
	display:none;
}
.tabs-bar .fa {
	font-size: 2.5em;
	text-align: center;
	padding: 0;
	display: inline-block;
}
.nav-up {
   bottom: -48px;
}
.tab-content .section-header{
		
		@include respond-to(x-large-screens)  { 
			margin-top:16%;
		}
}

/*------INDEX PAGE------*/
.home {
padding:0!important;
	h2 {
		padding-top: 7%;
		padding: 0;
		line-height: 150%;
		color: #101F46;
		text-align: left;
		font-family: calibre_regular,sans-serif;
	}
}  
.home-header .section-header {
		
		@include respond-to(x-large-screens)  { 
			padding: 5% 10% 0;
		}
}
.mission .section-header{
	  padding: 4% 6% 0;
}
