
//Base colors
$color-primary  : #104151;
$color-secondary: #0A2933;
$color-tertiary : #5A797C;
$color-quaternary:#28373B;
$paleyellow     : #EAE3CB;
$lightgray      : #819090;
$gray           : #708284;
$mediumgray     : #536870;
$darkgray       : #475B62;
$navigation     :rgba(10, 41, 51, 1);
//Base Fonts
$font-primary: Muli, serif;
$font-secondary: Raleway; 
$margin-navfix: 51px;
$font-size-primary:10px;
