.directory {
	padding: 3% 2%;
	width: 100%;
	text-align: center;
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	margin-bottom: 7%;
	z-index: 998;
	clear: both;
	position: relative;
	overflow: hidden;
		article {
			overflow: hidden;
			position: relative;
			display: block;
			float: left;
			width: 44%;
			margin: 0;
			background: transparent;
			margin: 0px 2% 25px;
			background-color: #fff;
			-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
			-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
			box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
				@include respond-to(medium-screens){
					width:28%;
				}
				@include respond-to(large-screens){
					width:28%;
				}
				@include respond-to(x-large-screens){
					width:20%;
				}
				a{
					display: block;
					padding-bottom: 3em;
					color: #fff;
					-moz-transition: opacity 0.35s ease;
					-o-transition: opacity 0.35s ease;
					-webkit-transition: opacity 0.35s ease;
					transition: opacity 0.35s ease;
				}	
		}
}		
.directory header {
	z-index: 1000;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 3em;
		h2{
			  padding: 0 3%;
			  text-align: center;
			  margin-bottom: .25em;
			  font-style: normal;
			  font-size: 1.3em;
			  line-height: 1.1em;
			  letter-spacing: .025em;
			  margin-top: 2%;
			  text-transform: uppercase;
			  margin-top: 6%;
		}
		ul{
			  display: none;
			margin-bottom: 0;
			font-size: .75em;
			line-height: 1.35em;
			letter-spacing: .075em;
			font-family: "maison-neue-for-tgd", Helvetica, Arial, Sans-Serif, sans-serif;
			font-weight: 400;
			font-style: normal;
			font-weight: 500;
			opacity: .5;
				li{
				display: inline;
				margin-right: .25em;
				}
		}
}	
.directory-image {
	position: relative;
		img{
			right: 0;
			top: 0;
			bottom: 0;
			width: 100%;
			height: 100%;
			left: 0;
		}
}
