@import url("http://fonts.googleapis.com/css?family=Muli");
@import url("http://fonts.googleapis.com/css?family=Raleway:900,800,700");
@import url("http://fonts.googleapis.com/css?family=Lato:100,300,400,700");
/* line 5, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 6, ../components/sass/_base.scss */
body {
  font-family: Muli, serif;
  font-size: 10px;
  line-height: 160%;
  color: #0A2933;
}

/* line 12, ../components/sass/_base.scss */
.container-fluid {
  padding-top: 12%;
}

/* line 17, ../components/sass/_base.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif;
  font-weight: 800;
  color: #ffffff;
  text-align: left;
  padding-bottom: 4%;
}

/* line 25, ../components/sass/_base.scss */
h1 {
  font-size: 3em;
}

/* line 29, ../components/sass/_base.scss */
h2 {
  font-size: 3.2em;
  color: #0a2933;
  font-weight: 300;
  line-height: 1.3;
  text-align: center;
  padding-bottom: 4%;
}

/* line 38, ../components/sass/_base.scss */
h3 {
  color: #0A2933;
  font-weight: 300;
  line-height: 18px;
  font-size: 1.6em;
  text-align: center;
  padding: 6% 0 6% 0;
}

/* line 47, ../components/sass/_base.scss */
h4 {
  font-size: 1.9em;
  line-height: 100%;
  color: #0A2933;
  margin: 0;
  font-weight: 600;
  text-align: center;
}

/* line 56, ../components/sass/_base.scss */
a {
  text-decoration: underline;
  color: #536870;
}
/* line 59, ../components/sass/_base.scss */
a:hover {
  color: #AF8812;
}

/* line 64, ../components/sass/_base.scss */
article {
  margin-bottom: 13%;
}

/* line 68, ../components/sass/_base.scss */
p {
  font-family: 'Lato', sans-serif;
  margin-bottom: 5%;
  font-size: 1.6em;
  text-align: left;
  line-height: 23px;
  font-weight: 400;
}

/* line 76, ../components/sass/_base.scss */
#contact-us input, textarea {
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  font-size: 1.5em;
  color: #ffffff;
  cursor: pointer;
  padding: 5%;
  display: inline-block;
  margin: 1% 2% 1% 0;
  text-transform: uppercase;
  letter-spacing: 0;
  font-weight: 800;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  border: 1px solid #0A2933;
}
/* line 96, ../components/sass/_base.scss */
#contact-us input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {
  color: #0a2933;
}
/* line 99, ../components/sass/_base.scss */
#contact-us input:focus::-moz-placeholder, textarea:focus::-moz-placeholder {
  color: #0a2933;
}
/* line 102, ../components/sass/_base.scss */
#contact-us input:focus:-ms-input-placeholder, textarea:focus:-ms-input-placeholder {
  color: #0a2933;
}

/* line 106, ../components/sass/_base.scss */
#contact-us button, input[type="submit"], .intro-btn button, input[type="submit"] {
  border: none;
  font-size: 1.45em;
  color: inherit;
  cursor: pointer;
  padding: 8px 12px;
  display: inline-block;
  margin: 15px 2px;
  text-transform: uppercase;
  letter-spacing: 0;
  text-align: center;
  font-weight: 900;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  border: 2px solid #fff;
  background: transparent;
  color: #fff;
  font-family: 'Lato', sans-serif;
}
/* line 127, ../components/sass/_base.scss */
#contact-us button:hover, input[type="submit"]:hover, .intro-btn button:hover, input[type="submit"]:hover {
  color: #0A2933;
  background-color: #ffffff;
}

/* line 133, ../components/sass/_base.scss */
.img-responsive {
  width: 100%;
}

/* line 136, ../components/sass/_base.scss */
.opaque {
  position: relative;
  z-index: -100;
  opacity: 0.4;
}

/* line 141, ../components/sass/_base.scss */
.sections {
  padding: 15% 5%;
  /*padding: 10% 5% 5% 5%;*/
  text-align: center;
}

/*---------------------*header*------------------------*/
/* line 5, ../components/sass/_layout.scss */
header {
  background: transparent;
  padding: 15px 20px;
  width: 100%;
  z-index: 1000;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  -webkit-animation: feature-bg-anim .6s ease-in-out;
}

/*shorter clearfix http://nicolasgallagher.com/micro-clearfix-hack/*/
/* line 18, ../components/sass/_layout.scss */
header:before,
header:after {
  content: "";
  display: table;
}

/* line 23, ../components/sass/_layout.scss */
header:after {
  clear: both;
}

/* For IE 6/7 (trigger hasLayout) */
/* line 27, ../components/sass/_layout.scss */
header {
  zoom: 1;
}

/* line 30, ../components/sass/_layout.scss */
h1.logo {
  padding-bottom: 8%;
}
/* line 32, ../components/sass/_layout.scss */
h1.logo a {
  color: #d8d8d8;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 22px;
  float: left;
  letter-spacing: 0.2em;
}

/* line 43, ../components/sass/_layout.scss */
label.to_nav {
  float: right;
  color: #fff;
  text-decoration: none;
  padding: 0 10px;
  font-size: 3em;
  font-weight: bold;
  line-height: 22px;
  height: 32px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  margin-top: -8%;
  width: 32px;
  color: #020d28;
}

/* line 62, ../components/sass/_layout.scss */
label.to_nav:hover, label.to_nav:focus {
  color: #B88D1F;
}

/*----------*navigation*----------*/
/* line 67, ../components/sass/_layout.scss */
nav.sidebar-menu-expanded {
  display: none;
  margin-top: 10%;
  display: block;
  -webkit-transition: height 0s .14s linear,visibility 0s 0s linear;
  -moz-transition: height 0s .14s linear,visibility 0s 0s linear;
  -ms-transition: height 0s .14s linear,visibility 0s 0s linear;
  -o-transition: height 0s .14s linear,visibility 0s 0s linear;
  transition: height 0s .14s linear,visibility 0s 0s linear;
  position: fixed;
  width: 85%;
  top: 0;
  height: 100%;
  line-height: 1em;
  text-align: left;
  overflow: auto;
  /* visibility: hidden; */
  background-color: #201a16;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: height 0s .14s linear,visibility 0s .14s linear;
  -moz-transition: height 0s .14s linear,visibility 0s .14s linear;
  -ms-transition: height 0s .14s linear,visibility 0s .14s linear;
  -o-transition: height 0s .14s linear,visibility 0s .14s linear;
  transition: height 0s .14s linear,visibility 0s .14s linear;
  margin: 0;
  padding: 6%;
  background-color: #696868 !important;
  z-index: 2000;
  left: 15% !important;
  overflow: hidden;
}

/* line 102, ../components/sass/_layout.scss */
.sidebar-menu-expanded li {
  text-align: center;
  text-decoration: none;
  font-size: 1.3em;
  font-weight: 700;
  display: block;
  padding: 0 31px;
  color: #fff;
  letter-spacing: 0.1em;
  line-height: 2.35em;
  height: 3em;
  border-bottom: 0;
  text-transform: uppercase;
  width: 100%;
  background-color: black;
  margin-bottom: 2%;
  padding: 2.6%;
}

/* line 121, ../components/sass/_layout.scss */
nav.sidebar ul li a.expandable {
  outline: 0;
  color: white;
  text-decoration: none;
}

/* line 127, ../components/sass/_layout.scss */
nav.sidebar ul li a.expandable:hover {
  color: #bbbbbb;
}

/* line 130, ../components/sass/_layout.scss */
nav.sidebar ul li.active {
  background: none repeat scroll 0 0 transparent;
  margin-left: -4px;
  padding: 4px;
}

/* line 134, ../components/sass/_layout.scss */
nav.sidebar ul li.active a.expandable {
  color: blue !important;
}

/* line 136, ../components/sass/_layout.scss */
nav.sidebar ul li.active a.expandable:hover {
  color: #ffffff !important;
}

/* line 138, ../components/sass/_layout.scss */
#logout-icon .glyphicon {
  top: -440px;
  left: 232px;
}

/*-------*Test2 nav*--------*/
/* line 149, ../components/sass/_layout.scss */
#menu-toggle {
  float: right;
}

/* line 152, ../components/sass/_layout.scss */
#menu-close {
  margin-top: 3%;
  position: fixed;
}

/* line 156, ../components/sass/_layout.scss */
.toggle {
  float: left;
  color: #fff;
  text-decoration: none;
  font-size: 3em;
  font-weight: bold;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  margin-top: -7.2%;
}

/*---------------------------Home Section-----------------------*/
/* line 172, ../components/sass/_layout.scss */
#home img.img-responsive {
  margin-top: 0%;
  z-index: 1000;
}

/* line 178, ../components/sass/_layout.scss */
ul.questions {
  padding-top: 5%;
}

/* line 181, ../components/sass/_layout.scss */
.questions h3 {
  color: #0a2933;
  font-weight: 700;
  line-height: 0.9em;
  font-size: 1.5em;
  padding-bottom: 0;
  text-align: left;
}

/*---------------------------Grid-----------------------------*/
/* line 191, ../components/sass/_layout.scss */
#grid {
  background-color: #fff;
  padding-top: 0;
  min-height: 1690px;
}

/* line 196, ../components/sass/_layout.scss */
.container {
  background-color: #fff;
}

/* line 199, ../components/sass/_layout.scss */
.port {
  position: relative;
  margin-left: 35%;
}
/* line 202, ../components/sass/_layout.scss */
.port h2 {
  position: absolute;
  font-weight: 500 !important;
  color: white;
  top: 20px;
  padding: 7% 4%;
  border: .9px solid white;
  z-index: 1000;
  font-size: 1.5em;
}

/* line 213, ../components/sass/_layout.scss */
.wrapper {
  position: relative;
}

/* line 216, ../components/sass/_layout.scss */
.wrapper .item {
  position: absolute;
}

/* line 219, ../components/sass/_layout.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 222, ../components/sass/_layout.scss */
.item {
  float: left;
  padding: .15% !important;
  -webkit-filter: grayscale(100%);
  width: 100%;
}

/* line 228, ../components/sass/_layout.scss */
.item:hover {
  -webkit-filter: grayscale(0%);
}

/* line 232, ../components/sass/_layout.scss */
.item.w2 {
  width: 49%;
}

/* line 235, ../components/sass/_layout.scss */
.item.w3 {
  width: 74%;
}

/*---------------------------Contact Us-----------------------*/
/* line 240, ../components/sass/_layout.scss */
#contact-us input[type="submit"] {
  background: #020d28;
  padding: 4%;
}
/* line 244, ../components/sass/_layout.scss */
#contact-us input[type="submit"]:hover {
  color: #0a2933;
  background-color: #ffffff;
  border: 1px solid #0a2933;
}

/* line 251, ../components/sass/_layout.scss */
#contact-us input[type="textarea"] {
  height: 110px;
}

/* line 257, ../components/sass/_layout.scss */
footer ul li {
  display: inline-block;
  text-align: center;
  background: none;
  padding: 0 1%;
  font-size: 2em;
}
/* line 263, ../components/sass/_layout.scss */
footer ul li a {
  text-decoration: none;
  color: #020d28;
  font-size: 1.2em;
}
/* line 270, ../components/sass/_layout.scss */
footer p {
  font-size: 1.1em;
  text-transform: uppercase;
  line-height: 1.4em;
  font-weight: 400;
  letter-spacing: .05em;
  color: #020d28;
  text-align: center;
  margin-top: 5%;
}

/* line 282, ../components/sass/_layout.scss */
.scalers:hover {
  /* -webkit-transform: $scale; */
  -moz-transform: 3;
  -o-transform: 3;
}

/*-----------------Friends----------------*/
/* line 288, ../components/sass/_layout.scss */
ul.img-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

/* line 295, ../components/sass/_layout.scss */
ul.img-list li {
  display: inline-block;
  margin: 0 .5em 1em .6em;
  position: relative;
  float: left;
}

/* line 302, ../components/sass/_layout.scss */
ul.img-list li:hover span.text-content {
  opacity: 1;
}

/* line 306, ../components/sass/_layout.scss */
img.friends-image.img-responsive {
  height: 158px;
  margin-bottom: 16%;
}

/* line 311, ../components/sass/_layout.scss */
span.text-content {
  background: rgba(0, 0, 0, 0.5);
  color: white;
  cursor: pointer;
  display: table;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
  min-height: 158px;
}

/* line 329, ../components/sass/_layout.scss */
span.text-content span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

/*-----------------Converse----------------*/
/*.header-img {
top: 0px;
left: 0px;
min-width: 378px;
height: 252px;
position: relative;
overflow: hidden;

    }*/
/* line 346, ../components/sass/_layout.scss */
.focal-point.focal-test div {
  margin: -3em -2em;
}

/* line 72, ../components/sass/_focal-point.scss */
.focal-point {
  width: 100%;
  height: auto;
  overflow: hidden;
}

/* line 78, ../components/sass/_focal-point.scss */
.focal-point img {
  width: 100%;
  max-width: 100%;
  height: auto;
  -ms-interpolation-mode: bicubic;
}

/* line 85, ../components/sass/_focal-point.scss */
.focal-point div {
  position: relative;
  max-width: none;
  height: auto;
}

@media all and (max-width: 767px) {
  /* line 103, ../components/sass/_focal-point.scss */
  .focal-point div {
    margin: -3em -12em;
  }

  /* line 113, ../components/sass/_focal-point.scss */
  .focal-point.zoom-2 div {
    margin: -6em -24em;
  }
  /* line 113, ../components/sass/_focal-point.scss */
  .focal-point.zoom-1 div {
    margin: -3em -12em;
  }

  /* line 137, ../components/sass/_focal-point.scss */
  .down-1 div {
    margin-top: -3.5em;
    margin-bottom: -2.5em;
  }

  /* line 142, ../components/sass/_focal-point.scss */
  .up-1 div {
    margin-top: -2.5em;
    margin-bottom: -3.5em;
  }

  /* line 147, ../components/sass/_focal-point.scss */
  .right-1 div {
    margin-left: -14em;
    margin-right: -10em;
  }

  /* line 152, ../components/sass/_focal-point.scss */
  .left-1 div {
    margin-left: -10em;
    margin-right: -14em;
  }

  /* line 137, ../components/sass/_focal-point.scss */
  .down-2 div {
    margin-top: -4em;
    margin-bottom: -2em;
  }

  /* line 142, ../components/sass/_focal-point.scss */
  .up-2 div {
    margin-top: -2em;
    margin-bottom: -4em;
  }

  /* line 147, ../components/sass/_focal-point.scss */
  .right-2 div {
    margin-left: -16em;
    margin-right: -8em;
  }

  /* line 152, ../components/sass/_focal-point.scss */
  .left-2 div {
    margin-left: -8em;
    margin-right: -16em;
  }

  /* line 137, ../components/sass/_focal-point.scss */
  .down-3 div {
    margin-top: -4.5em;
    margin-bottom: -1.5em;
  }

  /* line 142, ../components/sass/_focal-point.scss */
  .up-3 div {
    margin-top: -1.5em;
    margin-bottom: -4.5em;
  }

  /* line 147, ../components/sass/_focal-point.scss */
  .right-3 div {
    margin-left: -18em;
    margin-right: -6em;
  }

  /* line 152, ../components/sass/_focal-point.scss */
  .left-3 div {
    margin-left: -6em;
    margin-right: -18em;
  }

  /* line 137, ../components/sass/_focal-point.scss */
  .down-4 div {
    margin-top: -5em;
    margin-bottom: -1em;
  }

  /* line 142, ../components/sass/_focal-point.scss */
  .up-4 div {
    margin-top: -1em;
    margin-bottom: -5em;
  }

  /* line 147, ../components/sass/_focal-point.scss */
  .right-4 div {
    margin-left: -20em;
    margin-right: -4em;
  }

  /* line 152, ../components/sass/_focal-point.scss */
  .left-4 div {
    margin-left: -4em;
    margin-right: -20em;
  }

  /* line 137, ../components/sass/_focal-point.scss */
  .down-5 div {
    margin-top: -5.5em;
    margin-bottom: -0.5em;
  }

  /* line 142, ../components/sass/_focal-point.scss */
  .up-5 div {
    margin-top: -0.5em;
    margin-bottom: -5.5em;
  }

  /* line 147, ../components/sass/_focal-point.scss */
  .right-5 div {
    margin-left: -22em;
    margin-right: -2em;
  }

  /* line 152, ../components/sass/_focal-point.scss */
  .left-5 div {
    margin-left: -2em;
    margin-right: -22em;
  }

  /* line 137, ../components/sass/_focal-point.scss */
  .down-6 div {
    margin-top: -6em;
    margin-bottom: -0em;
  }

  /* line 142, ../components/sass/_focal-point.scss */
  .up-6 div {
    margin-top: -0em;
    margin-bottom: -6em;
  }

  /* line 147, ../components/sass/_focal-point.scss */
  .right-6 div {
    margin-left: -24em;
    margin-right: -0em;
  }

  /* line 152, ../components/sass/_focal-point.scss */
  .left-6 div {
    margin-left: -0em;
    margin-right: -24em;
  }

  /* line 169, ../components/sass/_focal-point.scss */
  .portrait.focal-point div {
    margin: -12em -3em;
  }

  /* line 179, ../components/sass/_focal-point.scss */
  .portrait.focal-point.zoom-2 div {
    margin: -24em -6em;
  }
  /* line 179, ../components/sass/_focal-point.scss */
  .portrait.focal-point.zoom-1 div {
    margin: -12em -3em;
  }

  /* line 203, ../components/sass/_focal-point.scss */
  .portrait.down-1 div {
    margin-top: -14em;
    margin-bottom: -10em;
  }

  /* line 208, ../components/sass/_focal-point.scss */
  .portrait.up-1 div {
    margin-top: -10em;
    margin-bottom: -14em;
  }

  /* line 213, ../components/sass/_focal-point.scss */
  .portrait.right-1 div {
    margin-left: -3.5em;
    margin-right: -2.5em;
  }

  /* line 218, ../components/sass/_focal-point.scss */
  .portrait.left-1 div {
    margin-left: -2.5em;
    margin-right: -3.5em;
  }

  /* line 203, ../components/sass/_focal-point.scss */
  .portrait.down-2 div {
    margin-top: -16em;
    margin-bottom: -8em;
  }

  /* line 208, ../components/sass/_focal-point.scss */
  .portrait.up-2 div {
    margin-top: -8em;
    margin-bottom: -16em;
  }

  /* line 213, ../components/sass/_focal-point.scss */
  .portrait.right-2 div {
    margin-left: -4em;
    margin-right: -2em;
  }

  /* line 218, ../components/sass/_focal-point.scss */
  .portrait.left-2 div {
    margin-left: -2em;
    margin-right: -4em;
  }

  /* line 203, ../components/sass/_focal-point.scss */
  .portrait.down-3 div {
    margin-top: -18em;
    margin-bottom: -6em;
  }

  /* line 208, ../components/sass/_focal-point.scss */
  .portrait.up-3 div {
    margin-top: -6em;
    margin-bottom: -18em;
  }

  /* line 213, ../components/sass/_focal-point.scss */
  .portrait.right-3 div {
    margin-left: -4.5em;
    margin-right: -1.5em;
  }

  /* line 218, ../components/sass/_focal-point.scss */
  .portrait.left-3 div {
    margin-left: -1.5em;
    margin-right: -4.5em;
  }

  /* line 203, ../components/sass/_focal-point.scss */
  .portrait.down-4 div {
    margin-top: -20em;
    margin-bottom: -4em;
  }

  /* line 208, ../components/sass/_focal-point.scss */
  .portrait.up-4 div {
    margin-top: -4em;
    margin-bottom: -20em;
  }

  /* line 213, ../components/sass/_focal-point.scss */
  .portrait.right-4 div {
    margin-left: -5em;
    margin-right: -1em;
  }

  /* line 218, ../components/sass/_focal-point.scss */
  .portrait.left-4 div {
    margin-left: -1em;
    margin-right: -5em;
  }

  /* line 203, ../components/sass/_focal-point.scss */
  .portrait.down-5 div {
    margin-top: -22em;
    margin-bottom: -2em;
  }

  /* line 208, ../components/sass/_focal-point.scss */
  .portrait.up-5 div {
    margin-top: -2em;
    margin-bottom: -22em;
  }

  /* line 213, ../components/sass/_focal-point.scss */
  .portrait.right-5 div {
    margin-left: -5.5em;
    margin-right: -0.5em;
  }

  /* line 218, ../components/sass/_focal-point.scss */
  .portrait.left-5 div {
    margin-left: -0.5em;
    margin-right: -5.5em;
  }

  /* line 203, ../components/sass/_focal-point.scss */
  .portrait.down-6 div {
    margin-top: -24em;
    margin-bottom: -0em;
  }

  /* line 208, ../components/sass/_focal-point.scss */
  .portrait.up-6 div {
    margin-top: -0em;
    margin-bottom: -24em;
  }

  /* line 213, ../components/sass/_focal-point.scss */
  .portrait.right-6 div {
    margin-left: -6em;
    margin-right: -0em;
  }

  /* line 218, ../components/sass/_focal-point.scss */
  .portrait.left-6 div {
    margin-left: -0em;
    margin-right: -6em;
  }
}
/* line 360, ../components/sass/_layout.scss */
.img-list p {
  text-align: center;
}

/* line 363, ../components/sass/_layout.scss */
.content-wrapper {
  padding-top: 2%;
}

/* line 366, ../components/sass/_layout.scss */
.post-meta {
  padding-bottom: 9%;
}

/* line 369, ../components/sass/_layout.scss */
.post-meta p {
  text-align: center;
  font-size: 1.4em;
}

/* line 373, ../components/sass/_layout.scss */
.post-meta a {
  text-decoration: none;
}

/* line 377, ../components/sass/_layout.scss */
.pagination {
  font-size: 1.5em;
}
/* line 379, ../components/sass/_layout.scss */
.pagination a {
  text-decoration: none;
}

@media (min-width: 768px) {
  /* line 2, ../components/sass/_mediaQueries.scss */
  header {
    height: 10%;
    padding-top: 3%;
    background-color: black;
  }

  /* line 7, ../components/sass/_mediaQueries.scss */
  lable.to_nav {
    display: none;
  }

  /* line 10, ../components/sass/_mediaQueries.scss */
  label.to_nav {
    display: none;
  }

  /* line 14, ../components/sass/_mediaQueries.scss */
  .wrapper {
    position: relative;
    width: 768px;
    margin: auto;
  }

  /* line 20, ../components/sass/_mediaQueries.scss */
  #menu {
    position: absolute;
    top: 32%;
    right: 2%;
    background: none;
    display: inline;
    margin-top: 0;
  }

  /* line 30, ../components/sass/_mediaQueries.scss */
  #menu li {
    display: inline;
  }

  /* line 34, ../components/sass/_mediaQueries.scss */
  #menu li a {
    float: left;
    border: none;
    padding: 0 10px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-color: transparent;
    text-transform: uppercase;
  }

  /* newnav*/
  /* line 47, ../components/sass/_mediaQueries.scss */
  .hero-image .container {
    top: 58%;
  }

  padding: 3%;
  margin-top: -131px;
  margin-bottom: 0;
  background-color: #73B2C7;
  width: 75%;
  margin: -131px auto 0 auto;
  /* line 57, ../components/sass/_mediaQueries.scss */
  .contact-info ul li {
    margin-top: 71px;
  }

  /* line 61, ../components/sass/_mediaQueries.scss */
  footer {
    margin-top: 47px;
  }
  /* line 63, ../components/sass/_mediaQueries.scss */
  footer ul {
    margin-top: 14% !important;
    margin-left: 0 !important;
    margin-bottom: 0 !important;
  }

  /* line 69, ../components/sass/_mediaQueries.scss */
  .connect {
    margin-top: 0 !important;
  }

  /* line 72, ../components/sass/_mediaQueries.scss */
  #our-clients img {
    height: 100px;
    width: 100px;
  }

  /* line 77, ../components/sass/_mediaQueries.scss */
  .port h2 {
    font-size: 2em;
    padding: 4% 0;
    top: 40px;
  }

  /* line 86, ../components/sass/_mediaQueries.scss */
  #our-clients img {
    height: 150px;
    width: 150px;
  }

  /* line 91, ../components/sass/_mediaQueries.scss */
  .subscribe {
    padding: 3%;
    background-color: #73B2C7;
    margin: 0 auto;
    max-width: 726px;
    margin-top: -118px;
  }

  /* line 98, ../components/sass/_mediaQueries.scss */
  #contact-us {
    width: 70%;
    margin: 0 auto;
  }

  /*---------Contact-info--------*/
  /* line 103, ../components/sass/_mediaQueries.scss */
  .contact-info {
    margin: 0 auto;
    height: 200px;
    padding: 0px;
    max-width: 600px;
  }

  /* line 109, ../components/sass/_mediaQueries.scss */
  .contact-info li {
    margin-bottom: 2%;
    width: 30%;
    float: left;
    padding: 12% 9%;
  }

  /*--end query--*/
}
@media (min-width: 992px) {
  /* line 122, ../components/sass/_mediaQueries.scss */
  .contact-info li {
    width: 33%;
  }
}
