@import url("http://fonts.googleapis.com/css?family=Muli");
@import url("http://fonts.googleapis.com/css?family=Raleway:900,800,700");
@import url("http://fonts.googleapis.com/css?family=Lato:100,300,400,700");
/* line 17, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 6, ../components/sass/_base.scss */
body {
  font-family: Muli, serif;
  font-size: 10px;
  line-height: 160%;
  color: #0a2933;
}

/* line 12, ../components/sass/_base.scss */
.container-fluid {
  padding-top: 12%;
}

/* line 17, ../components/sass/_base.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif;
  font-weight: 800;
  color: #ffffff;
  text-align: left;
  padding-bottom: 4%;
}

/* line 25, ../components/sass/_base.scss */
h1 {
  font-size: 3em;
}

/* line 29, ../components/sass/_base.scss */
h2 {
  font-size: 2.2em;
  line-height: 60%;
  color: #0a2933;
  font-weight: 900;
}

/* line 35, ../components/sass/_base.scss */
h3 {
  color: #0a2933;
  font-weight: 300;
  line-height: 18px;
  font-size: 1.6em;
}

/* line 42, ../components/sass/_base.scss */
h4 {
  font-size: 1.6em;
  line-height: 100%;
  color: #0a2933;
  margin: 0;
  font-weight: 400;
}

/* line 51, ../components/sass/_base.scss */
a {
  text-decoration: underline;
  color: #536870;
}
/* line 54, ../components/sass/_base.scss */
a:hover {
  color: orange;
}

/* line 59, ../components/sass/_base.scss */
p {
  font-family: 'Lato', sans-serif;
  margin-bottom: 5%;
  font-size: 1.7em;
  text-align: left;
  line-height: 27px;
}

/* line 66, ../components/sass/_base.scss */
#contact-us input, textarea {
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  font-size: 1.5em;
  color: #ffffff;
  cursor: pointer;
  padding: 5%;
  display: inline-block;
  margin: 1% 2% 1% 0;
  text-transform: uppercase;
  letter-spacing: 0;
  font-weight: 800;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  border: 1px solid #0a2933;
}
/* line 86, ../components/sass/_base.scss */
#contact-us input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {
  color: #0a2933;
}
/* line 89, ../components/sass/_base.scss */
#contact-us input:focus::-moz-placeholder, textarea:focus::-moz-placeholder {
  color: #0a2933;
}
/* line 92, ../components/sass/_base.scss */
#contact-us input:focus:-ms-input-placeholder, textarea:focus:-ms-input-placeholder {
  color: #0a2933;
}

/* line 96, ../components/sass/_base.scss */
#contact-us button, input[type="submit"], .intro-btn button, input[type="submit"] {
  border: none;
  font-size: 1.45em;
  color: inherit;
  cursor: pointer;
  padding: 8px 12px;
  display: inline-block;
  margin: 15px 2px;
  text-transform: uppercase;
  letter-spacing: 0;
  text-align: center;
  font-weight: 900;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  border: 2px solid #fff;
  background: transparent;
  color: #fff;
  font-family: 'Lato', sans-serif;
}
/* line 117, ../components/sass/_base.scss */
#contact-us button:hover, input[type="submit"]:hover, .intro-btn button:hover, input[type="submit"]:hover {
  color: #0a2933;
  background-color: #ffffff;
}

/* line 123, ../components/sass/_base.scss */
.img-responsive {
  width: 100%;
}

/* line 126, ../components/sass/_base.scss */
.opaque {
  position: relative;
  z-index: -100;
  opacity: 0.4;
}

/* line 131, ../components/sass/_base.scss */
.sections {
  padding: 10% 5% 5% 5%;
}

/*---------------------------Footer-----------------------*/
/* line 136, ../components/sass/_base.scss */
.subscribe {
  background-color: #104151;
  padding-top: 7%;
  padding-bottom: 17%;
}

/* line 141, ../components/sass/_base.scss */
.subscribe form {
  height: 50px;
}

/* line 144, ../components/sass/_base.scss */
.subscribe input[type="email"] {
  border: 1px solid #fff;
  color: #0a2933;
  margin: 0;
  width: 66%;
  height: 100%;
  margin-right: 1%;
  padding: 0 4%;
  font-size: 1.5em;
}
/* line 153, ../components/sass/_base.scss */
.subscribe input[type="email"]:focus::-webkit-input-placeholder {
  color: #0a2933;
}
/* line 156, ../components/sass/_base.scss */
.subscribe input[type="email"]:focus::-moz-placeholder {
  color: #0a2933;
}
/* line 159, ../components/sass/_base.scss */
.subscribe input[type="email"]:focus:-ms-input-placeholder {
  color: #0a2933;
}

/* line 165, ../components/sass/_base.scss */
.subscribe input[type="submit"] {
  top: -2.7%;
  width: 31%;
  margin: 0;
  font-size: 1.5em;
  font-family: muli;
  height: 100%;
}

/*header*/
/* line 5, ../components/sass/_layout.scss */
header {
  background: transparent;
  padding: 15px 20px;
  position: fixed;
  width: 100%;
  z-index: 10;
}

/*shorter clearfix http://nicolasgallagher.com/micro-clearfix-hack/*/
/* line 15, ../components/sass/_layout.scss */
header:before,
header:after {
  content: "";
  display: table;
}

/* line 20, ../components/sass/_layout.scss */
header:after {
  clear: both;
}

/* For IE 6/7 (trigger hasLayout) */
/* line 25, ../components/sass/_layout.scss */
header {
  zoom: 1;
}

/* line 29, ../components/sass/_layout.scss */
h1.logo {
  padding-bottom: 8%;
}
/* line 31, ../components/sass/_layout.scss */
h1.logo a {
  color: #d8d8d8;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 22px;
  float: left;
  letter-spacing: 0.2em;
}

/* line 43, ../components/sass/_layout.scss */
label.to_nav {
  float: right;
  color: #fff;
  background: rgba(0, 0, 0, 0.55);
  text-decoration: none;
  padding: 0 10px;
  font-size: 12px;
  font-weight: bold;
  line-height: 22px;
  height: 32px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  margin-top: -8%;
  background-image: url("file://localhost/Users/kateeldridge/Documents/kivvi/images/menu.svg");
  width: 32px;
}

/* line 63, ../components/sass/_layout.scss */
label.to_nav:hover,
label.to_nav:focus {
  background: rgba(16, 65, 81, 0.92);
  background-image: url("file://localhost/Users/kateeldridge/Documents/kivvi/images/menu.svg");
}

/*navigation*/
/* line 70, ../components/sass/_layout.scss */
#primary_nav ul {
  list-style: none;
  padding: 5px 0;
  border-color: #a6b2b4;
}

/* line 76, ../components/sass/_layout.scss */
#menu li {
  padding: 0px;
  border-bottom: 1px solid transparent;
  padding-bottom: 2px;
}
/* line 80, ../components/sass/_layout.scss */
#menu li a {
  background-color: rgba(0, 0, 0, 0.82);
  text-align: center;
  text-decoration: none;
  font-size: 1.3em;
  font-weight: 700;
  display: block;
  padding: 0 31px;
  color: #fff;
  letter-spacing: 0.1em;
  line-height: 2em;
  height: 2em;
  border-bottom: 0;
  padding-bottom: 11.5%;
  padding-top: 3%;
  text-transform: uppercase;
}
/* line 96, ../components/sass/_layout.scss */
#menu li a:hover {
  background-color: #bfbfc4;
}

/* line 102, ../components/sass/_layout.scss */
#primary_nav li:last-child a {
  border-bottom: none;
}

/* line 107, ../components/sass/_layout.scss */
#primary_nav li a:hover,
#primary_nav li a:focus {
  color: #1c1c1c;
  background: #ccc;
}

/*Test2 nav*/
/* line 113, ../components/sass/_layout.scss */
label {
  cursor: pointer;
}

/* line 116, ../components/sass/_layout.scss */
#menu-toggle {
  display: none;
  /* hide the checkbox */
}

/* line 119, ../components/sass/_layout.scss */
#menu {
  display: none;
  margin-top: 10%;
}

/* line 123, ../components/sass/_layout.scss */
#menu-toggle:checked + #menu {
  display: block;
}

/*---------------------------Home Section-----------------------*/
/* line 131, ../components/sass/_layout.scss */
#home {
  height: 500px;
  margin-top: 0;
  padding: 0;
}

/* line 137, ../components/sass/_layout.scss */
.hero-image {
  background: url("file://localhost/Users/kateeldridge/Documents/kivvi/images/home.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  padding-top: 0 !Important;
}

/* line 144, ../components/sass/_layout.scss */
.intro-copy {
  position: relative;
  top: 72%;
  padding: 0 7%;
}
/* line 148, ../components/sass/_layout.scss */
.intro-copy h1 {
  padding-bottom: 6%;
}
/* line 151, ../components/sass/_layout.scss */
.intro-copy h2 {
  padding-bottom: 0%;
}

/* line 155, ../components/sass/_layout.scss */
.intro-btn {
  margin: 0 auto;
}

/*---------------------------About Us Section-----------------------*/
/*#about-us img {
	top: -115px;
	left: 68%;
	overflow:inherit;
	@include rotate (70);
	}*/
/*---------------------------Our Services Section-----------------------*/
/* line 167, ../components/sass/_layout.scss */
#ourservices {
  background-color: rgba(117, 141, 143, 0.06);
}
/* line 169, ../components/sass/_layout.scss */
#ourservices img {
  max-width: 276px;
  -moz-transform: rotate(7deg);
  -o-transform: rotate(7deg);
  -ms-transform: rotate(7deg);
  -webkit-transform: rotate(7deg);
  transform: rotate(7deg);
  left: -66%;
  top: -15px;
  -webkit-transform: rotate(7deg);
  transform: rotate(7deg);
  transform: translateX(-200px);
  transform: translateX(10px);
  -webkit-animation: moveLeft 1.65s ease forwards;
}
/* line 181, ../components/sass/_layout.scss */
#ourservices li {
  max-height: 154px;
  padding-top: 9%;
  padding-bottom: 33%;
}

/*---------------------------Grid--------------------------------*/
/* line 189, ../components/sass/_layout.scss */
#grid {
  background-color: #fff;
  padding-top: 0;
  min-height: 1690px;
}

/* line 194, ../components/sass/_layout.scss */
.port {
  position: relative;
  margin-left: 35%;
}
/* line 197, ../components/sass/_layout.scss */
.port h2 {
  position: absolute;
  font-weight: 500 !important;
  color: white;
  top: 20px;
  padding: 7% 4%;
  border: .9px solid white;
  z-index: 1000;
  font-size: 1.5em;
}

/* line 208, ../components/sass/_layout.scss */
.wrapper {
  position: relative;
}

/* line 209, ../components/sass/_layout.scss */
.wrapper .item {
  position: absolute;
}

/* line 210, ../components/sass/_layout.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 213, ../components/sass/_layout.scss */
.item {
  float: left;
  padding: .15% !important;
  -webkit-filter: grayscale(100%);
  width: 100%;
}

/* line 219, ../components/sass/_layout.scss */
.item:hover {
  -webkit-filter: grayscale(0%);
}

/* line 223, ../components/sass/_layout.scss */
.item.w2 {
  width: 49%;
}

/* line 226, ../components/sass/_layout.scss */
.item.w3 {
  width: 74%;
}

/*--------------------------- Our Clients-----------------------*/
/* line 231, ../components/sass/_layout.scss */
#our-clients {
  background-color: #C9C9C9;
}
/* line 233, ../components/sass/_layout.scss */
#our-clients div {
  padding-bottom: 10%;
}
/* line 236, ../components/sass/_layout.scss */
#our-clients p {
  padding-top: 5%;
}
/* line 239, ../components/sass/_layout.scss */
#our-clients ul {
  padding-bottom: 6%;
  width: 81%;
  margin: 0 auto;
}
/* line 244, ../components/sass/_layout.scss */
#our-clients li {
  display: inline-block;
}
/* line 247, ../components/sass/_layout.scss */
#our-clients img {
  height: 75px;
  width: 75px;
}

/*---------------------------Contact Us-----------------------*/
/* line 253, ../components/sass/_layout.scss */
#contact-us input[type="submit"] {
  background: #0a2933;
  padding: 4%;
}
/* line 257, ../components/sass/_layout.scss */
#contact-us input[type="submit"]:hover {
  color: #0a2933;
  background-color: #ffffff;
  border: 1px solid #0a2933;
}

/* line 264, ../components/sass/_layout.scss */
#contact-us input[type="textarea"] {
  height: 110px;
}

/*---------------------------Footer-----------------------*/
/* line 269, ../components/sass/_layout.scss */
footer {
  background: #104151;
}
/* line 271, ../components/sass/_layout.scss */
footer h3 {
  padding: 0 0 5% 0;
  color: #ffffff;
  font-weight: 600;
  font-family: muli;
  text-transform: uppercase;
}
/* line 278, ../components/sass/_layout.scss */
footer p {
  text-align: center;
}
/* line 281, ../components/sass/_layout.scss */
footer li {
  padding: 0 1.8% 0% 0;
}
/* line 283, ../components/sass/_layout.scss */
footer li p {
  text-align: left;
  font-size: 1.5em;
  text-transform: uppercase;
  line-height: 1.5em;
  font-weight: 400;
  letter-spacing: .05em;
  color: #ffffff;
}
/* line 293, ../components/sass/_layout.scss */
footer a {
  color: #ffffff;
  text-decoration: none;
}
/* line 296, ../components/sass/_layout.scss */
footer a:hover {
  color: #eae3cb;
}
/* line 301, ../components/sass/_layout.scss */
footer i.fa {
  font-size: 2em;
  color: #ffffff;
  float: left;
  margin: 3% 7%;
}
/* line 308, ../components/sass/_layout.scss */
footer i.fa-phone {
  margin-top: 0;
}
/* line 312, ../components/sass/_layout.scss */
footer .social-media i {
  font-size: 3em;
  color: #ffffff;
  margin-right: 5px;
  width: 45px;
  height: 45px;
  display: inline-block;
  position: relative;
  line-height: 48px;
  background-color: #0a2933;
  -moz-border-radius: 43px;
  -webkit-border-radius: 43px;
  border-radius: 43px;
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.36), 0 2px 3px rgba(0, 0, 0, 0.36);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.36), 0 2px 3px rgba(0, 0, 0, 0.36);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.36), 0 2px 3px rgba(0, 0, 0, 0.36);
  padding: 0 20%;
}
/* line 330, ../components/sass/_layout.scss */
footer i.fa-facebook {
  padding: 0 27%;
}
/* line 333, ../components/sass/_layout.scss */
footer i.fa-instagram, footer .fa-linkedin {
  padding: 0 21%;
}

/* line 337, ../components/sass/_layout.scss */
.social-media {
  margin: 14% 10% 37% 10%;
}

/* line 341, ../components/sass/_layout.scss */
.social-media li {
  float: left;
  display: inline-block;
}

/* line 345, ../components/sass/_layout.scss */
.copyright {
  text-transform: uppercase;
  font-size: 1.1em;
  letter-spacing: .05em;
  color: #ffffff;
}

/* line 351, ../components/sass/_layout.scss */
.contact-info {
  margin: 0% 1%;
  background-color: #0a2933;
  -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0), 0px 3px 10px rgba(0, 0, 0, 0.53);
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0), 0px 3px 10px rgba(0, 0, 0, 0.53);
}
/* line 356, ../components/sass/_layout.scss */
.contact-info li {
  font-size: .9em;
  padding: 7% 0 3% 0;
}

/* line 361, ../components/sass/_layout.scss */
.scalers:hover {
  /* -webkit-transform: $scale; */
  -moz-transform: 3;
  -o-transform: 3;
}

@media (min-width: 768px) {
  /* line 2, ../components/sass/_mediaQueries.scss */
  header {
    height: 10%;
    padding-top: 3%;
    background-color: black;
  }

  /* line 7, ../components/sass/_mediaQueries.scss */
  lable.to_nav {
    display: none;
  }

  /* line 10, ../components/sass/_mediaQueries.scss */
  label.to_nav {
    display: none;
  }

  /* line 14, ../components/sass/_mediaQueries.scss */
  .wrapper {
    position: relative;
    width: 768px;
    margin: auto;
  }

  /* line 20, ../components/sass/_mediaQueries.scss */
  #menu {
    position: absolute;
    top: 32%;
    right: 2%;
    background: none;
    display: inline;
    margin-top: 0;
  }

  /* line 30, ../components/sass/_mediaQueries.scss */
  #menu li {
    display: inline;
  }

  /* line 34, ../components/sass/_mediaQueries.scss */
  #menu li a {
    float: left;
    border: none;
    padding: 0 10px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-color: transparent;
    text-transform: uppercase;
  }

  /* newnav*/
  /* line 47, ../components/sass/_mediaQueries.scss */
  .hero-image .container {
    top: 58%;
  }

  padding: 3%;
  margin-top: -131px;
  margin-bottom: 0;
  background-color: #73B2C7;
  width: 75%;
  margin: -131px auto 0 auto;
  /* line 57, ../components/sass/_mediaQueries.scss */
  .contact-info ul li {
    margin-top: 71px;
  }

  /* line 61, ../components/sass/_mediaQueries.scss */
  footer {
    margin-top: 47px;
  }
  /* line 63, ../components/sass/_mediaQueries.scss */
  footer ul {
    margin-top: 14% !important;
    margin-left: 0 !important;
    margin-bottom: 0 !important;
  }

  /* line 69, ../components/sass/_mediaQueries.scss */
  #our-clients img {
    height: 100px;
    width: 100px;
  }

  /* line 74, ../components/sass/_mediaQueries.scss */
  .port h2 {
    font-size: 2em;
    padding: 4% 0;
    top: 40px;
  }

  /* line 83, ../components/sass/_mediaQueries.scss */
  #our-clients img {
    height: 150px;
    width: 150px;
  }

  /* line 88, ../components/sass/_mediaQueries.scss */
  .subscribe {
    padding: 3%;
    background-color: #73B2C7;
    margin: -131px auto 0 auto;
  }

  /* line 93, ../components/sass/_mediaQueries.scss */
  #contact-us {
    width: 70%;
    margin: 0 auto;
  }

  /*---------Contact-info--------*/
  /* line 98, ../components/sass/_mediaQueries.scss */
  .contact-info {
    margin: 5%;
    height: 300px;
    padding: 0px;
  }

  /* line 103, ../components/sass/_mediaQueries.scss */
  .contact-info li {
    margin-bottom: 2%;
    width: 30%;
    float: left;
    padding: 12% 9%;
  }

  /*--end query--*/
}
@media (min-width: 992px) {
  /* line 116, ../components/sass/_mediaQueries.scss */
  .contact-info li {
    width: 33%;
  }
}
